@import"_variables.scss";

#background-wrap{
    bottom: 0rem;
    left: 0rem;
    padding-top: fixed;
    right: 0rem;
    position: fixed;
    top: 0rem;
    z-index: -1;
  }
  @keyframes animation{
    0%{margin-left:100%;}
    100%{margin-left:-50%;}
  }
  .cloud-one{
    animation: animation 12s linear infinite;
    transform: scale(.6);
    margin-top: 5%;
    animation-delay: none;
  }
  .cloud-two{
    animation: animation 15s linear infinite;
    transform: scale(.4);
    margin-top: 5%;
  }
  .cloud-three{
    animation: animation 16s linear infinite;
    transform: scale(.8);
    margin-top: 5%;
  }
  .cloud{
    background-color: white;
    border-radius: 100%;
    height: 15rem;
    position: relative;
    width: 30rem;
  }
  .cloud:before,.cloud:after{
    background-color: white;
    content: '';
    position: absolute;
    z-index: -1;
  }
  .cloud:after{
    border-radius: 10rem;
    height: 15rem;
    left: 5rem;
    top: -5rem;
    width: 10rem;
  }
  .cloud:before{
    border-radius: 10rem;
    height: 15rem;
    right: 5rem;
    top: -5rem;
    width: 15rem;
  }
  
  @keyframes move{
    0%{transform: translateY(0rem) ;}
    100%{transform: translateY(-2rem);}
  }
  .airplane{
    transform: scale(.3,.3);
    margin-top: -35rem;
    margin-left: -10rem;
  }
  .airplane-image{
    animation: move 1s infinite alternate;
  }
  .header{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    animation: word 5s infinite alternate;
    font-family: 'Courgette', cursive;
  }
  .loader{
    overflow: hidden;
    position: fixed;
  }
  @keyframes word{
    0%{transform: scale(1.1);}
  100%{transform: scale(1.2);}
  }
  .link{
    margin-left:65rem ;
    position: absolute;
    top: 60rem;
    background-color: color(third);
    height: 5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-decoration: none;
    font-family: 'Courgette', cursive;
    animation: word 3s infinite alternate;
    border-radius: 1rem;
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  }
  .link:hover{
    background-color: color(third-light);
    transition: ease-in-out 1s;
    animation-play-state: paused;
  }
  .header,.airplane,.link{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link-box{
    text-decoration: none;
  }
  