@import "_variables.scss";

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

 .header-title{
    display:flex;
    justify-content: center;
    font-size: 10rem;
 }
 .header-title-sub{
     display: flex;
     justify-content: center;
 }
.gallery-image{
    display: flex; 
    justify-content: space-around;  
}
.beach-image{
    width: 50rem;
}
.tourism-image{
    width: 50rem;
}
.surfing-image{
    width: 50rem;
}