$colors: (
  primary: #D8AFBC,
  primary-dark: #9A7879,
  secondary: #5B4E4D,
  third: #AE90BB,
  third-light: #B4B5D2
);
$phone: 600px;
$phone-max: 812px;
$phone-min: 375px;
$tablet: 900px;
$laptop: 1100px;
$desktop: 1100px;
 
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin phone {
  @media (min-width: #{$phone-min}) and (max-width: #{$phone-max}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
