@import "_variables.scss";
@import"_loader.scss";
@import"splash.scss";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: color(primary);
}
.loader{
  z-index: -1;
}
